{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row.operation_type }}</td>
                    <td>{{ row.stock }}</td>
                    <td>{{ row.shares }}</td>
                    <td>{{ row.price_per_share }}</td>
                    <td>{{ row.total_price }}</td>
                    <td>{{ row.purchase_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}